profiles {
    docker { includeConfig 'src/nextflow/configs/environments/docker.config' }
    devenv { includeConfig 'src/nextflow/configs/environments/devenv.config' }
    pcr_amplicon { includeConfig 'src/nextflow/configs/workflows/pcr_amplicon.config' }
    loopseq_ht_solo { includeConfig 'src/nextflow/configs/workflows/loopseq_ht_solo.config' }
}   