docker.enabled = true

env {
    TRIMMOMATIC = '/Trimmomatic-0.39/trimmomatic-0.39.jar'
}

params {
    umi_group_length = 4
}

process {
    container = '147637153406.dkr.ecr.us-west-2.amazonaws.com/loopanalysis:core2023111100'
    withName: TRIM {
        cpus = 4
        memory = 8.GB
    }

    withName: COLLAPSE_AND_ASSEMBLE {
        cpus = 2
        memory = 4.GB
        errorStrategy = 'retry'
        maxRetries = 3
    }
}